PORT=5001
NODE_ENV=development
CLIENT_APP_URL=http://localhost:5174
KABADIWALA_API_URL=http://localhost:5000/api
DEALER_SERVICE_API_KEY=kbad_shared_internal_secret_key_9988
JWT_SECRET=kabadidealer_super_secure_jwt_secret_key_2026_dealer
JWT_REFRESH_SECRET=kabadidealer_refresh_token_secret_key_2026
JWT_ACCESS_EXPIRES_IN=7d
JWT_REFRESH_EXPIRES_IN=30d
MONGODB_URI=mongodb://127.0.0.1:27017/kabadidealer_db
USE_MEMORY_DB=true
OTP_DEMO_CODE=1234
PICKUP_REQUEST_TIMEOUT_SECONDS=60
